In [0]:
%sql
USE CATALOG hive_metastore

In [0]:
%sql
CREATE TABLE employees (
  id INT,
  name STRING,
  salary DOUBLE
) USING DELTA

In [0]:
%sql
DROP TABLE employees;

In [0]:
%sql
INSERT INTO employees
SELECT
  CAST(monotonically_increasing_id() AS INT) + 1 AS id,
  concat('Name', CAST(rand() * 1000 AS INT)) AS name,
  CAST(rand() * 10000 AS DOUBLE) AS salary
FROM range(200)

In [0]:
%sql
SELECT * FROM employees

In [0]:
%sql
DESCRIBE DETAIL employees

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
%sql
UPDATE employees SET salary = salary * 1.9813 WHERE name LIKE "N%";
SELECT * FROM employees

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
%sql
SELECT * FROM employees

In [0]:
%sql
DESCRIBE TABLE employees;

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employees/_delta_log'

In [0]:
%fs head 'dbfs:/user/hive/warehouse/employees/_delta_log/00000000000000000009.json'